*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-size: 12pt;
    font-family: firago;
    
}
@font-face {
    font-family: firago;
    src: url(../font/FiraGO-Regular.ttf);
}

body{
    background-color: #000000;
}
header{
    padding: 24px 98px;
    height: 100px;
}
header h1{
    float: left;
    margin-right: 60%;
    
}
header h1 a{
    color: #ffffff;
}
header nav ul li{
    
    float: left;
    padding: 10px;
    
}
header nav ul li a{
    color: #ffffff;
}
/* ---------------- header--------- */

.xazi{
    border-bottom:solid #C3C3C3;
    height: 2px;  
}
main h2 a{
    color: #ffffff;
}
main h2 span{
    font-size: 128pt;
}




main h2{
    font-size: 128pt;
    letter-spacing: 100px;
    color: #ffffff;
    margin: 30px 10px;
    font-family: sembold;
    
}
@font-face {
    font-family: sembold;
    src: url(../font/FiraGO-SemiBold.ttf);
}


  
    



    


.xazi1{
 height: 2px;
 background-color: #ffffff;
 margin-top: 250px;
}
/* divvvv da p morcha */
.boxich{
    width: 100%;
    display: flex;
    justify-self: space-between;
    color: #ffffff;
    
    

}
.pirveli{
    flex-direction: column;
    margin: 20px;

}
.meore{
    flex-direction: column;
}
.mesame {
    flex-direction: column;
    
     
}
.mesame .ptii{
    margin-top: 15px;
}


    
    



article h2{
    font-size: 12pt;
    letter-spacing: 0;
    padding: 10px;
    
}
article{
    width: 33%;
    float: left;
    
}

article .werili img{
    width: 100%;
    height: 628px;
    padding: 10px;
}
h2 a span{
    font-size: 12pt;

}
/* article rcheba aqqqqqqq -----------*/

.xazi2{
    height: 2px;
    background-color: #ffffff;
    margin-top: 800px;
   }

.rating{
    width: 300px;
    display: flex;
    
    
    
    
}

    
    

.rating img{
    width: 100px;
    height: 100px;
    margin: 20px auto;
}
.roten{
    flex-direction: column;
    margin-top: 40px;
    
}
.roten p{
    color: #ffffff;
    margin-right: 70px;
    
    
}






    
    











    


