*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-size: 12pt;
    font-family: firago;
    
}
@font-face {
    font-family: firago;
    src: url(../font/FiraGO-Regular.ttf);
}

body{
    background-color: #000000;
}
header{
    padding: 24px 98px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:solid #bcb8b8;
    height: 1px;  
    
    
}

header h1{
      margin-right: 60%; 
    
}
header h1 a{
    color: #ffffff;
}
header ul{
    display: flex;
    justify-content: space-between;

    
}
header ul li{
    padding: 5px 10px;
    color: #ffffff;
}

    
    
    

header nav ul li a{
    color: #ffffff;
}

/* ---------------- header--------- */


main h2 a{
    color: #ffffff;
}
main h2 span{
    font-size: 128pt;
}




main h2{
    font-size: 128pt;
    letter-spacing: 100px;
    color: #ffffff;
    margin: 30px;
    font-family: sembold;

    
}
@font-face {
    font-family: sembold;
    src: url(../font/FiraGO-SemiBold.ttf);
}


  
    



    


.xazi1{
 height: 2px;
 background-color: #ffffff;
 margin-top: 250px;
}
/* divvvv da p morcha */
.boxich{
    width: 100%;
    display: flex;
    justify-self: space-between;
    color: #ffffff;
    align-items: center;
    padding: 20px;
    
    
    

}
.pirveli{
    flex-direction: column;
    margin: 20px;

}
.meore{
    flex-direction: column;
}
.mesame {
    flex-direction: column;
    
     
}
.mesame .ptii{
    margin-top: 15px;
}


    
    



article h2{
    font-size: 12pt;
    letter-spacing: 0;
    padding: 10px;
    
}
article{
    width: 33%;
    float: left;
    
}

article .werili img{
    width: 100%;
    height: 628px;
    padding: 10px;
}
h2 a span{
    font-size: 12pt;

}
/* article rcheba aqqqqqqq -----------*/

.xazi2{
    height: 2px;
    background-color: #ffffff;
    margin-top: 800px;
   }

.rating{
    width: 300px;
    display: flex;
    
    
    
    
}

    
    

.rating img{
    width: 100px;
    height: 100px;
    margin: 20px auto;
}
.roten{
    flex-direction: column;
    margin-top: 40px;
    
}
.roten p{
    color: #ffffff;
    margin-right: 70px;
    
    
}
/* aq iwyeba production html---------- */


.divich .productioninfo{
    
    
    display: flex;
    background-color: #020101;
    padding: 30px auto;
    
 
    

}
article .imginfo{
    width: 200px;
    padding: 20px;


}
.divich .productioninfo h2{
    padding-top: 0;
    
    
}
.meotxe{
    margin-top: 15px;
    
    
}
/*------------*/

main nav ul li{
    color: #ffffff;
}

    

    
.mainly{
    display: flex;
    
    
    
}
.divich{
    margin: 20px;
}



.mainly nav {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-top: 20px;
}
.xazi10{
    width: 100%;
    height: 2px;
    background-color: #bcb8b8;
}
nav ul .dirty{
    width: 200px;
    height: 20px;
    display: flex;
    justify-content: center;
    margin: 15px;
    
}
.active{
    width: 900;
    color: #2715c6;
}

/* aq iwyeba infohtml------- */

.ujra img{
    width: 400px;
    height: 540px;
    margin: 50px;
}
.ujra2{
    width: 500px;
    height: 540px;
    margin: 50px -40px;
    background-color: #000000;
    display: flex;
    justify-content: flex-start;
    
}

.mainly2{
    display: flex;
}
.bushing{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    
}

.bushing2{
    background-color: #000000;
    width: 270px;
    margin-right: 50px;
    padding: 10px 0;
    color: #ffffff;
}
.bushing h2{
    margin-top: 10px;
}
.ujrichi{
    width: 320px;
    background-color: #000000;
    display: flex;
    height: 50px  ;
    

}
.ujrichi .color::after{ 
    content: ":";
    

}
.ujrichi1{
    display: flex;
    align-content: space-around;
    
}
.rgolebi{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: aquamarine;
    margin: 0 5px;
    
   
}
.rgolebi2{
    background-color: #dae10e;
}
.rgolebi3{
    background-color: #2715c6;
}
.rgolebi4{
    background-color: #d01818;
}
.rgolebi5{
    background-color: #ffffff;
}
.rojer{
    background-color: #000000;
    width: 400px;
    margin-top: 320px;
}
.rojer h2::after{
    content: "\2197";
}



    

    


   
  
    














    
    











    


